html, body {
	margin : 0px;
	padding : 0px;
}
header {
	width : 100%;
	background-color : yellow;
	height : 200px;
}
header > div {
	float : left;
}
header img {
	height : 150px;
	padding : 20px;
}
header h1, header p {
	text-align : center;
	color : black;
	margin : 30px;
}
nav {
	clear : both;
	background-color : purple;
	height : 40px;
}
nav a {
	display : inline-block;
	width : 100px;
	height : 40px;
	padding : 5px;
	text-decoration : none;
	text-align : center;
}
nav a:link, nav a:visited {
	color : white;
}
nav a:hover, nav a:active {
	color : purple;
	background-color : white;
}
section {
	width : 45%;
	height : 200px;
	margin : 10px;
	padding : 10px;
	border : 1px solid black;
	box-sizing : border-box;
	float : left;
}
section h2 {
	background-color : purple;
	color : white;
	padding : 10px;
	margin : 5px;
}
section ol, section ul,section p, section div {
	padding-left : 50px;
}
footer{
	clear : both;
	height : 50px;
	padding : 10px;
	background-color : yellow;
	font-size : 12px;
}